@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;

  --font-sans: var(--font-manrope), var(--font-montserrat);
}

body {
  background-color: var(--background);
  font-family: var(--font-sans);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  border: 1.5px solid #fff;
  border-radius: 20px;
  padding: 20px 16px;
  width: 288px;
  height: 574px;
  box-shadow: 0 2px 6px 0 rgba(252, 252, 247, 0.08);
  background: #1a1a1a;

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.swiper-slide:hover {
  border: 2px solid #fff;
  box-shadow: 0 4px 12px 0 rgba(255, 255, 255, 0.05);
  background: #222;
}
